/**
 * #.# Styles for CTA Block.
 *
 * CSS for both Frontend+Backend.
 */
.bk-pquotes {
	p{
		margin-bottom: 0px !important;
		position: relative;
    }
		margin-top:2rem;
	    margin-bottom:2rem;
		
		.bk-pquotes-wrapper{
			padding: 1rem;
			border-left:0.5rem solid;
			border-right:0.5rem solid; 
			.bk-pquotes-au{
				margin-top: 0.8rem;
			
			}		
		}
	}